<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192158545602-6eo41o5pv0s3kv5j9i7ut4u3kumv72c9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192158545602-6eo41o5pv0s3kv5j9i7ut4u3kumv72c9</string>
	<key>API_KEY</key>
	<string>AIzaSyCKeg4r_jhBtNkF7QicsOKyI1VwvqCKht0</string>
	<key>GCM_SENDER_ID</key>
	<string>192158545602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappUi</string>
	<key>PROJECT_ID</key>
	<string>chat-app-66b10</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-66b10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192158545602:ios:0f27de3cbaf0c8a1b52d5b</string>
</dict>
</plist>